//Colors
$color-primary: rgb(3, 146, 98);
$color-primary-light: #40c79a;
$color-primary-dark: rgb(9, 87, 61);
$color-grey-lighter: #f7f7f7;
$color-grey-light: #777;
$color-grey-dark: rgb(66, 66, 66);
$color-white: #fff;
$color-black: #000;

//Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;

//Fonts
$default-fontSize: 1.6rem;
