.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-grey-dark, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 400ms;
    outline-offset: 20px;

    @include media-query(tablet-portrait) {
      float: left;
      position: relative;
      width: 33.3333%;
      box-shadow: 0 0.8rem 3rem rgba($color-grey-dark, 0.2);
    }
    &--p1 {
      left: 0;
      top: -2rem;
      @include media-query(tablet-portrait) {
        left: 1rem;
        top: 3rem;
      }
    }
    &--p2 {
      right: 0;
      top: 20px;

      @include media-query(tablet-portrait) {
        left: -2rem;
        top: 6rem;
      }
    }
    &--p3 {
      left: 20%;
      top: 10rem;
      @include media-query(tablet-portrait) {
        left: -5rem;
        top: 3rem;
      }
    }

    &:hover {
      outline: 1px solid $color-primary;
      transform: scale(1.06) translateY(-5px);
      box-shadow: 0 2rem 4rem rgba($color-grey-dark, 0.5);
      z-index: 20;
    }
  }

  //select all the photos that are not hovered, then shrink them:

  &:hover &__photo:not(:hover) {
    transform: scale(0.85);
  }
}
